
import(survival,cmprsk)
export(cci,clfs,cci.strat,clfs.strat,cci.nostrat,clfs.nostrat,cci.pest,comci.pest,clfs.pest,lfs.pest,stretch,pvals.cat,pvals.2cat,chisq.naive,chisq.log,chisq.loglog)






